@import "tailwindcss";

@layer base{
    * {
        font-family: "Lora", serif;
        scrollbar-width: thin;
        scrollbar-color: #ff0059b8 #dadada00;
    }
}

@theme {
    --color-rosa: #FF005B;
    --color-bege: #F2D3AC;
    --color-rosa-secundary: #F77D8B;
    --color-text: #272626;
    --color-bg-components: #f7f7f7;

    --text-title-phone: 2rem;
    --text-title-tablet: 2.5rem;
    --text-title-md: 3rem;
    --text-title-lg: 3.5rem;
    --text-title-2x1: 4rem;

    --text-secondary-phone: 0.9rem;
    --text-secondary-tablet: 1.2rem;

}